#bodycontents{
  height : 100%;
}

#tgPara2Images{
  height : 80%;
}

#result{
  height : 20%;
}

#overlap{
  height : 80%;
  position : relative;
  display : inline-block;
}

#overlap img{
  display : block;
  height : 100%;
}

#overlap img:nth-of-type(2){
  position: absolute;
  right: 0%;
  bottom: 0%;
  width: 100%;
  height: auto;
}

form{
  height : 20%;
}

#paraImage{
  object-fit : contain;
  height : 100%;
}


p{
  margin : 0;
}